.custom{
    color: #fff;
    transition: 0.3s ease;
}

.custom:hover{
    color: rgb(179, 179, 179);
}

@media (max-width: 770px) {
    .container {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .para-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }
}