.landing-page-container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.full-width-carousel {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .content-container {
    padding: 1rem;
  }
}