.logo-chakra {
    display: none;
}

@media (max-width: 991px) {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  }

@media (max-width: 600px) {
    .title{
        font-size: 1rem;
    }
    .logo{
        display: none;
    }
    .logo-chakra {
        display: inline;
    }
}

@media (max-width: 400px) {
    .title{
        font-size: 0.8rem;
    }
    .menu{
        margin-top: 5px;
    }
}