.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transition: all 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .sidebar.open {
    left: 0; 
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 998; /* just below sidebar */
  }

  .sidebar-close {
    position: absolute;
    top: 4px;
    right: 13px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 20%;
  }

  .sidebar-close:hover {
    background-color: #575757;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 20px 20px;
  }
  
  .sidebar-menu li {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
  }
  
  .sidebar-menu li:hover {
    background-color: #575757;
    padding: 10px;
  }
  