/* ViewLab.css */

.view-lab .instrument-list .card {
  width: 300px;
  height: 300px;
  margin: 0 auto; /* Center the card */
}

.view-lab .card-img-top {
  max-height: 200px; /* Adjust as necessary to maintain aspect ratio */
  object-fit: cover;
}

.view-lab .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.view-lab .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
